[Desktop Entry]
Encoding=UTF-8
Version=1.0
Comment[pt_BR]=Obter suporte para o Regata OS
Comment[pt_PT]=Obter suporte para o Regata OS
Comment[en_US]=Get support for Regata OS
Comment[en_GB]=Get support for Regata OS
Comment=Get support for Regata OS
GenericName[pt_BR]=Obter suporte para o Regata OS
GenericName[pt_PT]=Obter suporte para o Regata OS
GenericName[en_US]=Get support for Regata OS
GenericName[en_GB]=Get support for Regata OS
GenericName=Get support for Regata OS
Name[pt_BR]=Suporte do Regata OS
Name[pt_PT]=Suporte do Regata OS
Name[en_US]=Regata OS Support
Name[en_GB]=Regata OS Support
Name=Regata OS Support
Icon=regataos-support
Exec=regataos-help
Categories=System;
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=Regata OS Support
