@font-face {
    font-family: "Oxygen";
    src: url('fonts/Oxygen.otf') format('truetype');
}

body {
    font-family: Oxygen;
    font-weight: 300;
	background-color: #fff;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    color: rgb(45, 120, 214);
    cursor: pointer;
    text-decoration: underline;
}

.div-iframe {
    position: fixed;
    float: left;
    padding-left: 230px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.iframe {
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:hidden;
	height:100%;
	width:83%;
	top:0px;
	left:0px;
	right:0px;
    bottom:0px;
}

/*
.iframe::-webkit-scrollbar {
    display: none;
}
*/

.sidebar {
    display: block;
    position: fixed;
    background-color: #e5e5e5;
    text-align: left;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    padding: 0px 0px 14px 0px;
    user-select: none;
    float: left;
    z-index: 30000;
    -webkit-box-shadow: 0px 0px 1px 0px rgb(8 13 18 / 34%);
    box-shadow: 0px 0px 1px 0px rgb(8 13 18 / 34%);
}

.ul-sidebar {
    padding-left: 0px;
}

.sidebar .ul-sidebar li {
    cursor: pointer;
    background-color: #e5e5e5;
    color: #d2d5da;
    font: 16px 'Roboto', sans-serif;
	width: 0px;
    margin-top: 0px;
	margin-left: 0px;
    margin-bottom: 0px;
	padding-top: 14px;
	padding-bottom: 14px;
}

/*
.sidebar ul li:hover {
    background-color: #242424;
    color: #d2d5da;
}
*/

.regataos-help {
    display: none;
}

.regataos-community {
    display: none;
}

.li-sidebar-b {
    display: none;
    bottom: 0;
    width: 20px;
	animation-name: example;
	animation-duration: 2s;
}

.li-sidebar-uninstalling {
    display: none;
    bottom: 0;
    width: 20px;
	animation-name: example;
	animation-duration: 2s;
}

.link-items {
    display: flex;
    flex-direction: row;
    align-items: center;
	height: 26px;
    font-size: 18px;
	text-decoration: none;
	color: #333;
    border-left: 4px solid #e5e5e5;
    transition: all 0.3s ease-in-out;
	padding-top: 2px;
    padding-left: 5px;
	padding-bottom: 2px;
}

.sidebar .ul-sidebar li:hover {
    background-color: #cacaca;
    color: #d2d5da;
}

.sidebar .ul-sidebar li:hover .link-items {
    border-left: 4px solid rgb(45, 120, 214) !important;
}

.link-items:hover {
    border-left: 4px solid rgb(45, 120, 214) !important;
}

.link-items p {
	color: #333;
    font-size: 18px;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.fas {
    margin-right: 5px;
    font-size: 22px;
}

.fas-margin {
    margin-right: 5px;
    font-size: 22px;
}

.icones-menu {
    display: inline-block;
    padding-right: 5px;
    left: -8px;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

.return-sidebar {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 30px;
	height: 25px;
	cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.return-sidebar2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 30px;
	height: 25px;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.hide-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 30px;
	height: 25px;
	cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 15px;
}

.show-sidebar {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 30px;
	height: 25px;
	cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 15px;
}

.div1 {
    background: #fff;
	width: auto;
	height: 180px;
}

.h1 {
    font-size: 26px;
    font-weight: 300;
    margin: 0px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.h2 {
    position: relative;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0px;
    padding-left: 30px;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .5s;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.div2 {
    background: #fff;
	width: 100%;
	position: absolute;
}

.ul-blocks {
	display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin: 0px;
	margin-top: 30px;
}

li {
    width: 230px;
    list-style: none;
    float: left;
	margin-left: 30px;
	margin-bottom: 30px;
}

.option {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .5s;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.h3 {
    color: #575757;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0px;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    color: #575757;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0px;
    padding-left: 0px;
}

div.rede-icone-on {
    display: none;
    height: 100px;
    width: 100px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
}

div.rede-icone-off {
    display: none;
    height: 100px;
    width: 100px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
}

div.rede-icone-alert {
    display: none;
    height: 100px;
    width: 100px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.rede-botao-off {
    display: none;
    text-align: center;
    font: 16px 'Roboto', sans-serif;
    width: 100px;
    background-color: #ccc;
    background-position: center;
    margin-top: 15px;
    padding: 13px 0;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rede-botao-off:hover {
    background-color: #b5b5b5;
}

div.repo-icone-on {
    display: none;
    height: 100px;
    width: 127px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
}

div.repo-icone-off {
    display: none;
    height: 100px;
    width: 127px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.repo-botao-on {
    display: none;
    text-align: center;
    font: 16px 'Roboto', sans-serif;
    width: 175px;
    background-color: #ccc;
    background-position: center;
    margin-top: 15px;
    padding: 13px 0;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.repo-botao-on:hover {
    background-color: #b5b5b5;
}

div.restore-icon {
    display: block;
    height: 100px;
    width: 112px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.restore-botao {
    display: block;
    text-align: center;
    font: 16px 'Roboto', sans-serif;
    width: 145px;
    background-color: #ccc;
    background-position: center;
    margin-top: 15px;
    padding: 13px 0;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.restore-botao:hover {
    background-color: #b5b5b5;
}

div.info-icon {
    display: block;
    height: 100px;
    width: 100px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.info-botao {
    display: block;
    text-align: center;
    font: 16px 'Roboto', sans-serif;
    width: 185px;
    background-color: #ccc;
    background-position: center;
    margin-top: 15px;
    padding: 13px 0;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.info-botao:hover {
    background-color: #b5b5b5;
}

@-webkit-keyframes animatebottom {
    from { bottom:-30px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-30px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* Display content when everything is ready */
#loadscreen {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	z-index: 40000;
}
