@font-face {
    font-family: "Oxygen";
    src: url('fonts/Oxygen.otf') format('truetype');
}

body {
    width: 100%;
    font-family: Oxygen;
    font-weight: 300;
    background-color: #fff;
    padding: 0;
    margin: 0;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

/* scrollbar css */
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border-left: 1px solid #cdcdcd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: all .3s;
    background: #b3b3b3;
    border-radius: 2em;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
    border-radius: 2em;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

/* Display content when everything is ready */
#loadscreen {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 40000;
    animation-name: initEffect;
    animation-duration: 1.2s;
}

@keyframes initEffect {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

a {
    color: #005fb8;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #005fb8;
}

.div-iframe {
    position: fixed;
    float: left;
    margin-left: 230px;
    width: 100%;
    min-width: 422px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.iframe {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: calc(100% - 230px);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
}

/*
.iframe::-webkit-scrollbar {
    display: none;
}
*/

.sidebar {
    display: block;
    position: fixed;
    background-color: #eff0f1;
    text-align: left;
    top: 0px;
    left: 0px;
    width: 230px;
    height: 100%;
    padding: 0px 0px 14px 0px;
    user-select: none;
    float: left;
    z-index: 30000;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

.ul-sidebar {
    padding-left: 0px;
}

.sidebar .ul-sidebar li {
    cursor: pointer;
    font-size: 16px;
    width: 230px;
    min-height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.sidebar-item-effect {
    display: block;
    float: left;
    width: 5px;
    height: 30px;
    border-radius: 4px;
    margin-left: 4px;
    transition: all 0.3s ease-in-out;
}

.sidebar-item-effect-dark {
    transition: all 0.3s ease-in-out;
}

.sidebar .ul-sidebar li:hover .sidebar-item-effect {
    background-color: #005fb8;
}

.sidebar .ul-sidebar li:hover .sidebar-item-effect-dark {
    background-color: #3daee9;
}

.sidebar-button {
    background-color: #eff0f1;
    color: #d2d5da;
}

.sidebar-button:hover {
    background-color: #d3d3d3;
    color: #d2d5da;
}

.regataos-community {
    display: none;
}

.li-sidebar-b {
    display: none;
    bottom: 0;
    width: 20px;
    animation-name: example;
    animation-duration: 2s;
}

.li-sidebar-uninstalling {
    display: none;
    bottom: 0;
    width: 20px;
    animation-name: example;
    animation-duration: 2s;
}

.link-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 26px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.link-items p {
    color: #333;
    font-size: 18px;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.fas {
    margin-right: 5px;
    font-size: 22px;
}

.fas-margin {
    margin-right: 5px;
    font-size: 22px;
}

.icons-menu,
.icons-menu-option {
    display: inline-block;
    padding-right: 5px;
    left: -8px;
}

.icons-menu-option {
    height: 30px;
    margin-left: 2px;
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.return-sidebar {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.return-sidebar2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.hide-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 15px;
}

.show-sidebar {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 15px;
}

.div1 {
    background: #fff;
    width: 95%;
    max-width: 1400px;
    position: relative;
    display: block;
    margin-bottom: 30px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.h1 {
    font-size: 26px;
    font-weight: 300;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h2 {
    position: relative;
    color: #222;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
}

.h3 {
    color: #222;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.4;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0px;
    padding-left: 0px;
}

.div2 {
    position: relative;
    display: block;
    width: 95%;
    max-width: 1400px;
    box-sizing: border-box;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}

.ul-blocks {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 1em;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

li {
    width: auto;
    list-style: none;
    float: left;
}

.option {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .5s;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.option:first-child {
    padding-left: 0px;
}

.option:last-child {
    padding-right: 0px;
}

.option div.option-item {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 100%;
    min-height: 335px;
    background-color: #eff0f1;
    padding: 20px;
    padding-top: 5px;
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
}

.option div.option-item p {
    margin-bottom: 20px;
}

.option-button {
    background-color: #0085e400;
}

.option-icon {
    display: block;
    width: 100px;
    height: 100px;
    background-position: 0% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border-radius: 6px;
}

.restore .option-icon,
.info .option-icon {
    background-size: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rede-icone-off,
.repo-icone-off {
    display: none;
}

.button {
    position: relative;
    display: block;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    border-radius: 2em;
    background-color: #005fb8;
    background-position: center;
    margin-top: 0px;
    padding: 5px 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    background: #013260 radial-gradient(circle, transparent 1%, #013260 1%) center/15000%;
}

.button:active {
    background-color: #005fb8;
    background-size: 100%;
    transition: all 0s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -30px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -30px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

    /* For index */
    body,
    #loadscreen,
    .div1,
    .div2 {
        background-color: #1b1e20 !important;
    }

    .sidebar,
    .option-item {
        background-color: #2a2e32 !important;
    }

    .link-items,
    .link-items p {
        color: #eff0f1 !important;
    }

    .sidebar .ul-sidebar li {
        background-color: #2a2e32 !important;
        color: #fff !important;
    }

    .sidebar .ul-sidebar li:hover {
        background-color: #373e46 !important;
        color: #fff !important;
    }

    img.seta-off {
        content: url('./../images/img-sidebar/arrow-off-dark.png');
    }

    img.seta {
        content: url('./../images/img-sidebar/arrow-dark.png');
    }

    .hide-sidebar .sidebar-icon,
    .show-sidebar .sidebar-icon {
        content: url('./../images/img-sidebar/menu-dark.png');
    }

    img.solution {
        content: url('./../images/img-sidebar/tools2-dark.png');
    }

    img.help {
        content: url('./../images/img-sidebar/support-dark.png');
    }

    img.forum {
        content: url('./../images/img-sidebar/forum-dark.png');
    }

    a {
        color: #3daee9;
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: #3daee9;
    }

    .div1 {
        color: #fff;
    }

    .h2,
    .h3,
    p {
        color: #eff0f1;
    }

    .rede-icone-on {
        background-image: url(./../images/wifi-on-dark.png) !important;
    }

    .rede-icone-off {
        background-image: url(./../images/wifi-off-dark.png) !important;
    }

    .repo-icone-on {
        background-image: url(./../images/repo-on-dark.png) !important;
    }

    .repo-icone-off {
        background-image: url(./../images/repo-on-dark.png) !important;
    }

    .restore-icone {
        background-image: url(./../images/restore-dark.png) !important;
    }

    .info-icone {
        background-image: url(./../images/info-dark.png) !important;
    }

    ::-webkit-scrollbar-track {
        background: #1b1e20;
        border-left: 1px solid #2a2e32;
    }

    ::-webkit-scrollbar-thumb {
        background: #383e42;
        border-radius: 2em;
        border: 6px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #2383b5;
        border-radius: 2em;
        border: 6px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }

    .button {
        color: #fff;
        background-color: #3daee9;
    }

    .button:hover {
        background: #2383b5 radial-gradient(circle, transparent 1%, #2383b5 1%) center/15000%;
    }

    .button:active {
        background-color: #3daee9;
        background-size: 100%;
        transition: all 0s;
    }
}

/* Responsive */
@media screen and (max-width: 1280px) {
    .ul-blocks {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .ul-blocks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .ul-blocks {
        grid-template-columns: repeat(1, 1fr);
    }
}