@font-face {
    font-family: "Oxygen";
    src: url('fonts/Oxygen.otf') format('truetype');
}

body {
    font-family: Oxygen;
    font-weight: 300;
    background-color: #fff;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Display content when everything is ready */
#loadscreen {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 40000;
    animation-name: initEffect;
    animation-duration: 1.2s;
}

@keyframes initEffect {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

a {
    color: #005fb8;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #005fb8;
}

.community-access-dark {
    color: #3daee9;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #3daee9;
}

.div-iframe {
    position: fixed;
    float: left;
    margin-left: 230px;
    width: 100%;
    min-width: 422px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.iframe {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: calc(100% - 230px);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
}

/*
.iframe::-webkit-scrollbar {
    display: none;
}
*/

.sidebar {
    display: block;
    position: fixed;
    background-color: #f3f3f3;
    text-align: left;
    top: 0px;
    left: 0px;
    width: 230px;
    height: 100%;
    padding: 0px 0px 14px 0px;
    user-select: none;
    float: left;
    z-index: 30000;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0px 2px rgb(109 114 129 / 83%);
}

.ul-sidebar {
    padding-left: 0px;
}

.sidebar .ul-sidebar li {
    cursor: pointer;
    font-size: 16px;
    width: 230px;
    min-height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.sidebar-item-effect {
    display: block;
    float: left;
    width: 5px;
    height: 30px;
    border-radius: 4px;
    margin-left: 4px;
    transition: all 0.3s ease-in-out;
}

.sidebar-item-effect-dark {
    transition: all 0.3s ease-in-out;
}

.sidebar .ul-sidebar li:hover .sidebar-item-effect {
    background-color: #005fb8;
}

.sidebar .ul-sidebar li:hover .sidebar-item-effect-dark {
    background-color: #3daee9;
}

.sidebar-button {
    background-color: #f3f3f3;
    color: #d2d5da;
}

.sidebar-button:hover {
    background-color: #d3d3d3;
    color: #d2d5da;
}

.sidebar-button-dark {
    background-color: #2a2f35;
    color: #fff;
}

.sidebar-button-dark:hover {
    background-color: #373e46;
    color: #fff;
}

.regataos-community {
    display: none;
}

.li-sidebar-b {
    display: none;
    bottom: 0;
    width: 20px;
    animation-name: example;
    animation-duration: 2s;
}

.li-sidebar-uninstalling {
    display: none;
    bottom: 0;
    width: 20px;
    animation-name: example;
    animation-duration: 2s;
}

.link-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 26px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.link-items p {
    color: #333;
    font-size: 18px;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.fas {
    margin-right: 5px;
    font-size: 22px;
}

.fas-margin {
    margin-right: 5px;
    font-size: 22px;
}

.icons-menu,
.icons-menu-option {
    display: inline-block;
    padding-right: 5px;
    left: -8px;
}

.icons-menu-option {
    height: 30px;
    margin-left: 2px;
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.return-sidebar {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.return-sidebar2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.hide-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 15px;
}

.show-sidebar {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 15px;
}

.div1 {
    background: #fff;
    width: 100%;
    float: left;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.h1 {
    font-size: 26px;
    font-weight: 300;
    margin: 0px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.h2 {
    position: relative;
    color: #222;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0px;
    padding: 0px 30px;
}

.h3 {
    color: #222;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.4;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0px;
    padding-left: 0px;
}

.div2 {
    background: #fff;
    width: 100%;
    float: left;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.ul-blocks {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

li {
    width: auto;
    list-style: none;
    float: left;
}

.option {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 308px;
    height: auto;
    padding: 0px 10px 10px 10px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .5s;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.option:first-child {
    padding-left: 0px;
}

.option:last-child {
    padding-right: 0px;
}

.option div.option-item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 335px;
    background-color: #f3f3f3;
    padding: 20px;
    padding-top: 5px;
    border-radius: 8px;
    box-shadow: 0 0px 2px rgb(109 114 129 / 83%);
}

.option-button {
    background-color: #0085e400;
}

.option-icon {
    display: block;
    width: 100px;
    height: 100px;
    background-position: 0% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border-radius: 6px;
}

.restore .option-icon,
.info .option-icon {
    background-size: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rede-icone-off,
.repo-icone-off {
    display: none;
}

.button {
    position: absolute;
    display: block;
    bottom: 0;
    text-align: center;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    border-radius: 2em;
    background-color: #005fb8;
    background-position: center;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 5px 20px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.button:hover {
    background: #013260 radial-gradient(circle, transparent 1%, #013260 1%) center/15000%;
}

.button:active {
    background-color: #005fb8;
    background-size: 100%;
    transition: all 0s;
}

.button-dark {
    color: #fff;
    background-color: #3daee9;
}

.button-dark:hover {
    background: #2383b5 radial-gradient(circle, transparent 1%, #2383b5 1%) center/15000%;
}

.button-dark:active {
    background-color: #3daee9;
    background-size: 100%;
    transition: all 0s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -30px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -30px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/* Responsive */
@media screen and (max-width: 1251px) {
    .ul-blocks {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .option {
        max-width: 350px;
    }

    .option:last-child {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 1085px) {
    .ul-blocks {
        grid-template-columns: auto auto;
    }

    li.repo {
        padding-right: 0px
    }

    li.restore {
        padding-top: 10px;
        padding-left: 0px;
    }

    .option:last-child {
        padding-right: 0px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 820px) {
    .ul-blocks {
        grid-template-columns: auto;
    }

    .option {
        padding: 0px 0px 20px 0px;
    }

    li.restore {
        padding-top: 0px;
        padding-left: 0px;
    }

    .option:last-child {
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}