[Desktop Entry]
Exec=/opt/regataos-help/scripts/regataos-help-check-network.sh
OnlyShowIn=KDE;
Type=Service
MimeType=
Terminal=false
X-KDE-autostart-after=root
X-KDE-StartupNotify=false
X-KDE-autostart-condition=AutoStart:true
Icon=system-run
GenericName=regataos-help-check-network
Name=regataos-help-check-network
